.task {
  background: var(--gray-500);
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--gray-400);

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.task > input {
  display: none;
}

.checkbox {
  display: flex;

  min-width: calc(1.5rem - 2px);
  height: calc(1.5rem - 2px);

  border: 2px solid var(--blue);
  border-radius: 999px;

  background-color: transparent;
  margin-right: 0.75rem;
}

input[type="checkbox"]:checked + label .checkbox {
  border: 2px solid var(--purple-dark);
  background-color: var(--purple-dark);
  background-image: url(../assets/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  object-fit: cover;
}

input[type="checkbox"]:checked + label {
  color: var(--gray-300);
  text-decoration: line-through;
}

.task > label {
  display: flex;

  color: var(--gray-100);
  font-size: 0.875rem;
  line-height: 140%;
  text-align: justify;

  cursor: pointer;
}

.task > button {
  display: flex;

  margin-left: 0.75rem;

  background: transparent;
  border: none;

  color: var(--gray-300);

  cursor: pointer;

  transition: all 0.5s;
}

.task > button:hover {
  color: var(--red);
}
